
<link rel="stylesheet" href="css/bottom_articles.css">
<script src="/js/article.js"></script>
<div class="container_">
  <div id="left-side">
    <div id="typing-text">
      <span class="typing"></span>
      <br>
      <span class="subtyping"></span>
    </div>
  </div>
  <div id="right-side">
    <div id="lottie-animation"></div>
  </div>
</div>

<div class="bottom_articles">
  <div class="card">
    <div id="lottie-animation-1" class="lottie-container"></div>
    <div class="card-content">
     
      <button onclick="navigateTo('/recent_articles')"> Recent Articles</button>
    </div>
  </div>
  <div class="card">
    <div id="lottie-animation-2" class="lottie-container"></div>
    <div class="card-content">
      
      <button onclick="navigateTo('/new_blog')">Add New Blog</button>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>