<link rel="stylesheet" href="css/view_article.css">
<br>
<br>
<br>
<br>
<br>
<br>
<div class="form-container">
    <div class="form">
      <% if @blog %>
        <h1 class="blog-title"><%= @blog['title'] %></h1> <!-- Display the blog title -->
        <p class="blog-content"><%= @blog['content'] %></p> <!-- Display the blog content -->
      <% else %>
        <p>Blog not found.</p>
      <% end %>
      <br>
<br>
<br>
<br>
      <button class="recent" onclick="navigateTo('/recent_articles')">Recent Articles</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function navigateTo(url) {
      window.location.href = url;
    }
  </script>
