.bottom_articles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 40px; /* Increased gap between cards */
  overflow-x: auto; /* Allow horizontal scrolling if necessary */
}

.card {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #e0f7fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;
  


}

.card-content {
  text-align: center;
}

.card button {
  padding: 10px 20px;
  background-color: #004d40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; /* Add transition for button animation */
}

.card button:hover {
  background-color: #00796b;
}

.lottie-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Increased margin between animation and content */
}

.left-lottie, .right-lottie {
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
}
