<link rel="stylesheet" href="css/lottie_css.css">
# <div class="container_">
#     <div id="left-side">
#       <div class="typing"></div>
#       <div class="subtyping"></div>
#     </div>
#     <div id="right-side">
#       <div id="lottie-animation"></div>
#     </div>
#   </div>